agent:
  name: 'devops-tpl-agent'
  version: '0.0.1'
  pollInterval: 2s
  reportInterval: 10s
  server_url: "127.0.0.1:8080"
  server_schema: "http://"
  metric_field_names:
    - Alloc
    - BuckHashSys
    - Frees
    - GCCPUFraction
    - GCSys
    - HeapAlloc
    - HeapIdle
    - HeapInuse
    - HeapObjects
    - HeapReleased
    - HeapSys
    - LastGC
    - Lookups
    - MCacheInuse
    - MCacheSys
    - MSpanInuse
    - MSpanSys
    - Mallocs
    - NextGC
    - NumForcedGC
    - NumGC
    - OtherSys
    - PauseTotalNs
    - StackInuse
    - StackSys
    - Sys
    - TotalAlloc
    - RandomValue
    - PollCount

server:
  name: 'devops-tpl-server'
  version: '0.0.1'
  address: "127.0.0.1:8080"
  store_internal: 0s
  store_file: "/tmp/devops-metrics-db.json"
  restore: true

logger:
  log_level: debug
